.search-box {
	-webkit-appearance: none;
	border: none;
	outline: none;
	padding: 10px;
	width: 150px;
	line-height: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #0ccac4;
	background: linear-gradient(
		to left,
		rgba(7, 27, 82, 1) 0%,
		rgba(0, 128, 128, 1) 100%
	);
	text-transform: capitalize;
	cursor: text;
}
